html {
    --beige:#DDDBD4;
    --pink:##F15C5B;
    --type:##333;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1 {
    color: var(t--type);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;

}

h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

p {
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom:1rem;
}

.text-block {
    font-style: bold;
    max-width: 114px;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem,1fr) [main-start] minmax(0,1280px) [main-end] minmax(1rem,1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: var(--dark-grey);
    padding: 1rem 0;
}

.overview {
    background-color: var(--grey);
    color:#fff;
    padding: 4rem 0;
}

figure {
    margin-top: 2rem;
}

figure img {
    margin-bottom: 1rem;
}

figcaption {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}

.sample {
    padding: 5rem 0;
}

footer {
    padding: 1.5rem 0;
    background-color: var(--light-grey);
}

footer p {
    margin-bottom: 0;
}

@media screen and (min-width: 325px) {
    .one-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}