html {
    --beige:#DDDBD4;
    --pink:#F15C5B;
    --type:#333;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1 {
    color: var(t--type);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;

}

h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    font-weight: 400px;
    font-size: 14px;
    padding:0 0 20px 0;
}

.fresh {
    background-color: var(--pink);
    color: var(--type);
    padding: 2rem 45px;

}

.text-block {
    font-weight: bold;
    padding: 2rem 45px;
}

.menu {
    padding: 2rem 45px;
    background-color: var(--beige);
}

.menu h2 {
    text-align: center;
    padding: 2rem 0;
}

.menu h3 {
    padding-bottom: 2rem;
}

.item {
    float: left;
    width: 216px;
    padding-bottom: 3rem;
}

.price {
    float: left;
    width: auto;
    padding-bottom: 3rem;
}

.menu img {
    border-radius: 65px;
    border: 3px solid var(--pink);
    padding-bottom: 3rem;
    width: 300px;
}

.location {
    padding: 3rem 45px;
    background-color: var(--beige);
}

.location img {
    border-radius: 65px;
    border: 3px solid var(--pink);
    padding-bottom: 3rem;
    width: 300px;
    height: 167px;
}

footer {
    padding: 3rem 45px;
    background-color: var(--pink);

}