html {
    --beige:#e2dcd9;
    --pink:#F15C5B;
    --type:#333;
}

h1 {
    color: var(t--type);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    border-bottom: 5px solid var(--pink);
}

h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: var(--type);
}

h3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    font-weight: 400px;
    font-size: 24px;
    padding:0 0 20px 0;
    color: var(--type);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: var(--beige);
}

.hero {
    background-image: url("../img/coffee-head-h.jpg");
    color: var(--beige);
    border-bottom: 10px solid var(--pink);
    background-repeat: no-repeat;
    position: relative;
}

header {
    color: var(--type);
    font-weight: 700;
    padding: 0 3rem;
    color: var(--beige);
}

.open {
    right: 1rem;
}

.hero div {
    transition: all .25s ease-out;
}

.links {
    display: flex;
}

button {
    float: right;
    margin-top: 3rem;
    font-size: 24px;
    color:#333;
    background-color:#F15C5B;
}

.my-button {
    transition: all .25s ease-out;
}

.my-button:hover {
    background-color:#e2dcd9;
    color:#F15C5B;
}

.hero img {
    height: 55px;
    float: left;
    margin-top: 3rem
}

.order {
    margin-left: auto;
}

.links li {
    padding: 2rem;
    list-style-type: none;
    text-decoration: none;
}

.text-block {
    padding: 10rem 3rem 5rem 3rem;
    width: auto;
    color: var(--beige);
}

.text-block p {
    padding-top: 1rem;
    font-size: 14px;
    color: var(--beige);
}

.fresh{
    font-weight: 700;
    padding: 0 3rem 5rem 3rem;
    width: auto;
    background-color:#F15C5B;
    color:#333;
}

.fresh h1 {
    color: var(t--type);
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 5rem;
    border-bottom: 5px solid var(--type);
}

.fresh p {
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 400;
}

.menu-container {
    display: grid;
    border-bottom: 5px solid var(--pink);
    padding: 3rem 3rem 0rem 3rem;
    gap: 2rem;
    grid-template-columns: 1fr;

}

.menu-title h1{
    text-align: center;
    padding-top:2rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: none;
}

table {
    width: 100%;
}

th {
    text-align: left;
    padding-top: 2.5rem;
    font-size: 14px;
}

td {
    padding-top: 1.5rem;
    font-size: 14px;
    position: relative;
}

.name {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 3px solid var(--pink);
}

.location-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    border-bottom: 5px solid var(--pink);
    padding: 3rem 3rem 5rem 3rem;
}

.location h1 {
    color: var(t--type);
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 5px solid var(--pink);
    width: auto;
}
.location p {
    margin-top: 1rem;
    position: relative;
    font-size: 14px;
}

.location img {
    border: 3px solid var(--pink);
    width: 300px;
    height: 300px;
    position: relative;
}

footer {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    padding: 5rem 3rem 0rem 3rem;
    background-color: var(--pink);
}

footer h2 {
    padding-bottom: 2rem;
}

.logos img{
    height: 55px;
    display: inline;
    padding-right: 3rem;
}

.logos p {
    padding-top: 1rem;
}

@media screen and (min-width: 800px) {
    .menu-container {
        display:grid;
        gap: 200px;
        grid-template-columns: 1fr 1fr;
        border-bottom: 5px solid var(--pink);
        padding: 0rem 150px 5rem 150px;
    }
    .location-container {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr;
        border-bottom: 5px solid var(--pink);
        padding: 3rem 150px 5rem 150px;
    }

    .hero {
        background-image: url("../img/coffee-head-h.jpg");
        background-size: cover;
        color: var(--type);
        border-bottom: 10px solid var(--pink);
    }
    .location img {
        width: 400px;
        height: 400px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .fresh{
        padding: 0 150px 5rem 150px;
    }
    .text-block {
        padding: 300px 150px;
        width: 700px
    }
    .header {
        padding: 0 150px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 62px; 
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 24px;
    }
    .fresh p {
        font-size: 24px;
    }
    .text-block p {
        font-size: 24px;
    }
    th {
        font-size: 24px;
    }
    td {
        font-size: 24px;
    }
    .name {
        font-size: 24px;
    }
    .location p {
        font-size: 24px;
    }
    .location img {
        width: 620px;
        height: 458px;
    }
}
